.home {
  width: 1024px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background-color: #ead7d74d;
}
.home__container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  margin-top: 100px;
  margin-bottom: 50px;
  /* border: 1px solid gray; */
  border-radius: 5px;
}

.home__generate,
.home__complete {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  background-color: #6d466b;
  color: white;
  transition: all 0.3s ease-in-out;
}

.home__generate {
  border: none;
  border-radius: 5px;
  /* border-bottom: 1px solid black; */
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.home__complete {
  border: none;
  border-radius: 5px;
  /* border-top: 1px solid black; */
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.home__generate:hover,
.home__complete:hover {
  background: #b49fcc;
  color: white;
  border: 1px solid #6d466b;
}

.home__currentTask {
  text-align: center;
  height: 200px;
  background-color: white;
  font-size: 24px;
  padding-top: 75px;
  line-break: loose;
  vertical-align: middle;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

@media (max-width: 1024px) {
  .home {
    width: 100%;
  }
}
