.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
  background-color: white;
}

.header__home {
  height: 100%;
  width: 200px;
  font-size: larger;
  justify-content: center;
  font-weight: 800;
  margin: 0 20px;
  border-right: 1px solid white;
}

.header__home:hover {
  border-color: lightgray;
  transition: border-right 0.5s ease;
}

.header__right {
  display: flex;
  justify-content: right;
  justify-content: space-between;
}

.header__option {
  display: flex;
  padding: 0 20px;
  align-items: center;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.header__option:hover {
  border-color: lightgray;
  transition: border-right 0.5s ease;
  transition: border-left 0.5s ease;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 640px) {
  .header__right {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header__home {
    font-size: 16px;
    margin-left: 10px;
  }

  .header__home a p {
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0;
  }

  .header__option {
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    height: 100%;
  }

  .header__right {
    height: 100%;
  }
}
