.footer {
  height: 100px;
  width: 100%;
  background-color: #6d466b;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  text-align: center;
  border-top: 1px solid lightgray;
  line-height: 100px;
  color: white;
}

@media (max-width: 640px) {
  .footer {
    height: 60px;
    line-height: 60px;
  }
}
