.tasks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.tasks__container {
  height: 300px;
  width: 500px;
  margin-top: 50px;
}

.tasks__title {
  text-align: center;
}

.task__items {
  margin: 10px 0;
}

.task__item {
  margin: 10px 0;
}
