.tasks {
  width: 1024px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(235, 232, 232);
}

.tasks__container {
  height: fit-content;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tasks__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tasks__header button {
  border-radius: 5px;
  background-color: gray;
  transition: background-color 0.5s;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 54%;
  margin-right: 1px;
  color: white;
}

.tasks__header button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.tasks__header button:focus {
  border: none;
  outline: none;
}

.tasks__header button div {
  font-size: 16px;
}

.tasks__title {
  text-align: center;
  padding-left: 15px;
  color: white;
}

.task__items {
  /* padding: 10px 0; */
}

.task__item {
  margin: 0;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid gray;
  border-top: none;
  background-color: white;
}

.task__item:hover {
  background-color: rgb(231, 230, 230);
}

.task__delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  transition: background-color 0.25s;
  transition: box-shadow 0.25s;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.212);
}

.task__delete:hover {
  background-color: gray;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.task__item:nth-child(even) {
  background-color: grey;
  color: white;
}

.task__item:nth-child(even):hover {
  background-color: rgb(112, 110, 110);
  color: white;
}

.task__item:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tasks__none {
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 50px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media (max-width: 1024px) {
  .tasks {
    width: 100%;
  }
}
